ul.inlineul {
  display: inline-block;
  list-style: none;
  -webkit-padding-start: 0px;
  margin: 20px 0px;
}

ul.inlineul li,
ul.inlineul li a {
  display: inline-block;
}

ul.inlineul.socialul,
ul.inlineul.menuul {
  float: right;
}

ul.inlineul li a {
  padding: 7px 10px;
  text-transform: CAPITALIZE;
  color: black;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  display: inline-block;
  letter-spacing: 0.2px;
  border: 2px solid transparent;
}

ul.socialul li img {
  height: 23px;
}

ul.inlineul.socialul {
  margin-left: 30px;
}

.logo {
  display: inline-block;
  margin: 20px 0px;
}

#sidenav {
  border-bottom: 1px solid #eee;
}

body {
  /* font-family: 'Economica', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Mulish", sans-serif;
}
.darkbg {
  background: #000000;
  padding: 90px 0px;
  color: white;
}

.title h3 {
  color: 1ecece;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 30px;
}

.title h4 {
  max-width: 800px;

  font-size: 50px;

  font-weight: 800;

  line-height: 1.26;

  letter-spacing: 0.2px;

  margin-bottom: 20px;

  margin: AUTO;
}
.darkbg .title h4 {
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}
.workblock {
  margin-bottom: 60px;
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
}

.content h5 {
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

.content h3 {
  font-weight: bold;
  font-size: 24px;
  font-weight: 800;
  margin-top: 30px;
  letter-spacing: 0.2px;
  transition: all 350ms ease;
}

.col-md-12.worksblock .col-md-6:nth-child(2n + 1) {
  padding-right: 35px;
}

.col-md-12.worksblock .col-md-6:nth-child(2n + 2) {
  padding-left: 35px;
}
.text-left {
  text-align: left;
}
.text-left.title h4 {
  margin: inherit;
}

.worksblock {
  padding: 0px;
}
.whitebg {
  padding: 90px 0px;
}
.boxy {
  max-width: 254px;
  margin: 0px;
}

.box-head {
  display: inline-block;
  width: 100%;
}
.box-head img {
  height: 38px;
  width: 45px;
  object-fit: contain;
  margin: 20px 8px 20px 0px;
  object-position: left center;
}

.box-head h4 {
  font-size: 14px;
  margin: 0px 0px 8px;
}
.box-head h4 {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  width: calc(100% - 60px);
  vertical-align: middle;
}
.boxy2 {
  margin: 50px 0px;
}

.boxy2 h2 {
  font-weight: 700;
  font-size: 24px;
  font-weight: 800;
  margin-top: 18px;
  letter-spacing: 0.2px;
  transition: all 350ms ease;
}

.boxy2 p {
  font-weight: 600;
}

.boxy3 {
  min-height: 233px;
  background: #464646;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin-top: 30px;
  color: black;
  text-align: left;
}
.shade1 {
  background-color: #fbe5ff;
}
.shade2 {
  background-color: #f8cbff;
}
.shade3 {
  background-color: #e7cfff;
}

.shade4 {
  background-color: #d4d6ff;
}
.boxy3 h4 {
  margin: 25px 0px 15px;
}

.boxy3 h4 {
  margin: 25px 0px 15px;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.2px;
  transition: all 350ms ease;
}

a.btn.btn-default {
}

.boxy3 .btn-default {
  background: transparent;
  margin-top: 11px;
  width: 100%;
  text-align: left;
  border: none;
  font-weight: 500;
  padding: 7px 0px;
  font-weight: 600;
}

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
}
.masonry .item {
  display: inline-block;
  background: #444;
  padding: 0.6em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* box-shadow: 2px 2px 4px 0 #ccc; */
  border-radius: 10px;
}
.masonry .item img {
  max-width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

a.clientblock {
  display: inline-block;
  width: 100%;
  background: white;
  padding: 40px 25px;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  outline: none;
  position: relative;
}

a.clientblock .pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
}

a.clientblock .pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.underline {
  height: 31px;
  position: relative;
}

.underline:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 43px;
  background: #e7e7e7;
  left: 0px;
  right: 0px;
  margin: auto;
  top: 14px;
}
.itemdiv {
  padding: 10px;
}
.slick-slide {
  height: inherit !important;
}

button.slide-arrow {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  position: absolute;
}

button.slide-arrow.prev-arrow {
  background: rgb(255 255 255 / 80%);
  left: -14px;
  top: 50%;
  z-index: 9;
}

button.slide-arrow.next-arrow {
  right: -24px;
  top: 50%;
  background: rgb(255 255 255 / 80%);
}

button.slide-arrow.prev-arrow.slick-arrow:before {
  content: "";
  position: absolute;
  background: url(../imgs/feaPrevIcon.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 16px;
  top: 11px;
  background-size: 15px;
  background-repeat: no-repeat;
}
button.slide-arrow.next-arrow.slick-arrow:before {
  content: "";
  position: absolute;
  background: url(../imgs/feaNExtIcon.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 16px;
  top: 11px;
  background-size: 15px;
  background-repeat: no-repeat;
}
button.btn.btn-default.btn-white {
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 40px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}
ul.bottomlinks {
  margin-top: 50px;
}
ul.bottomlinks > li {
  display: inline-block;
  margin-top: 50px;
  vertical-align: middle;
}

ul.bottomlinks > li > a {
  display: inline-block;
  padding: 0px 20px;
  color: white;
  font-size: 20px;
}

ul.bottomlinks > li > a {
  border-right: 1px solid rgb(238 238 238 / 39%);
  text-decoration: none;
}

ul.bottomlinks .socialul {
  margin: 0px;
  margin-left: 20px;
}

.bottomlinks ul.socialul li img {
  filter: invert(1);
}

.bottomlinks ul.inlineul li a {
}
.bottomlinks {
  -webkit-padding-start: 0px;
}
.darkbbg {
  background-color: #212129;
  color: White;
  padding: 60px 0px;
}
button.btn.btn-default.btn-black {
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 40px;
  outline: none;
  font-weight: 600;
  background: black;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.menuul > li > a:hover:before {
  background: #1ecece;
  transition: all ease 0.3s;
  width: 42%;
}
.socialul li a {
  padding: 7px 5px !important;
}
.menuul > li > a:before {
  width: 0px;
  content: "";
  position: absolute;
  height: 3px;
  background: transparent;
  top: 33px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: all ease 0.3s;
}

.Fixed_header header#sidenav {
  position: fixed;
  z-index: 99;
  background: white !important;
  width: 100%;
}

.Fixed_header section#featured {
  padding-top: 80px;
}
body.js--mobile-menu-active.Fixed_header #sidenav {
  background: transparent !important;
  border-bottom-color: transparent;
}
button.scroll-top {
  opacity: 1 !important;
  position: fixed;
  bottom: 20px;
  right: 100px;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: 1px solid;
  padding: 11px;
  display: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
}

@media (max-width: 991px) {
  ul.inlineul.menuul {
    padding-top: 57px;
  }

  .menuul > li > a:before {
    top: 50px;
  }

  .menuul {
    position: fixed;
    width: 265px;
    top: 0;
    background: #fff;
    height: 100%;
    left: -270px;
    transition: 0.5s all ease;
    padding-top: 15px;
    margin-right: 0px;
    z-index: 99;
    display: block;
    transition: 0.5s all ease;
    margin-top: 0px !important;
  }

  .menu_icon {
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition: 0.5s all ease;
    display: block;
    position: absolute;
    top: 30px;
    right: 29px;
    z-index: 999;
    margin-left: 6px;
  }
  .js--mobile-menu-active .CL_MNU:nth-child(1) {
    transform: rotateZ(45deg);
    transition: 0.5s all ease;
    top: 16px;
  }
  .menu_icon .CL_MNU:nth-child(1) {
    /* top: 0px; */
  }
  .js--mobile-menu-active .menu_icon span {
    background: #fff;
  }
  .menu_icon .CL_MNU {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.5s all ease;
  }
  .js--mobile-menu-active .CL_MNU:nth-child(2) {
    display: none;
    transition: 0.5s all ease;
  }
  .menu_icon .CL_MNU:nth-child(2) {
    top: 8px;
  }
  .js--mobile-menu-active .menu_icon span {
    background: #fff;
  }
  .js--mobile-menu-active .CL_MNU:nth-child(3) {
    transform: rotateZ(-45deg);
    transition: 0.5s all ease;
    top: 8px;
  }
  .menu_icon .CL_MNU:nth-child(3) {
    top: 16px;
  }
  .js--mobile-menu-active .menu_icon span {
    background: #fff;
  }
  .js--mobile-menu-active .menuul {
    left: 0;
    transition: 0.5s all ease;
  }
  .js--mobile-menu-active:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(0 0 0 / 72%);
    z-index: 4;
  }
  ul.inlineul.menuul li {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  ul.inlineul.menuul li a {
    color: black;
    font-size: 17px;
    padding: 15px 0px;
  }
}

.mask {
  height: 350px;
  width: 365px;
  position: absolute;
  top: -3%;
  left: -7%;
  z-index: -1;
  opacity: 0.15;
  background-image: url(../imgs/dots2.png);
  /* -webkit-transform: translateY(-50%); */
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  /* transform: translateY(-50%); */
}

.mask2 {
  height: 453px;
  width: 453px;
  position: absolute;
  opacity: 0.15;
  z-index: -1;
  /* border-radius: 50%; */
  right: 0px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url(../imgs/semi.png);
  overflow: hidden;
  /* transform: translateX(31%); */
  background-size: contain;
  bottom: 275px;
}
section {
  position: relative;
}
.box-body {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

.boxy3 P {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

body {
  /* OVERFLOW-X: hidden; */
}
.itemdiv p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin: 20px;
}
section#featured:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-image: url(../imgs/dots-1.png); */
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.6;
  border-top: 109px solid #ffffff;
  background:white
}
ul.menuul li:last-child a {
  border-radius: 30px;
  border: 2px solid;
  padding: 9px 20px;
}
ul.menuul li:last-child a:hover:before {
  width: 0px;
}

ul.menuul li:last-child a:hover {
  background: black;
  color: white;
  transition: all ease 0.5s;
}

.title2 {
  margin: 30px 0px;
  max-width: 800px;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.26;
  letter-spacing: 0.2px;
}



.modal-header{
  border-bottom: none;
}
button.close {
  padding: 20px;
  color: white;
  opacity: 1;
}
.modal-body{
  padding:0px;
}
.modal-backdrop.fade.in {
  background: rgba(21, 20, 26, 0.8);
  opacity: 1;
}

@media (min-width: 1200px){
.modal-lg {
    width: 1200px;
}}
a.clientblock video {
  width: 100%;
}
.slick-list{padding:0 20% 0 0 !important;}
.responsiveslick2 video {width:100%;
border-radius: 10px;min-height: 328px; object-fit: cover;}


.responsiveslick2 {
    margin-bottom: 70px;
    margin-top: 50px;
}
.maintitle{
  margin: 140px 0px;
  font-size: 80px;
  line-height: 90px;
}
.VideoHead-reel-innerPlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 43%;
  width: 100px;
}
@media (max-width: 468px) {
  .VideoHead-reel-innerPlay {
    width: 61px;
    top: 33%;
}
  button.scroll-top {
    right: 25px;
  }
  .title h4 {
    font-size: 30px;
  }
  .boxy3 {
    padding: 12px;
  }
  a.clientblock {
    padding: 35px 0px;
  }
  .title h3 {
    font-size: 23px;
  }
  .title2 {
    font-size: 30px;
  }
  .itemdiv p {
    margin: 8px;
  }
  .mask2 {
    top: inherit;
    bottom: 0px;
  }

  .mask {
    left: 0px;
    top: 0px;
    height: 91px;
  }

  section#featured:before {
    border-top: 0px;
  }
  .nopad {
    padding: 0px;
  }

  .itemdiv {
    padding: 0px;
  }
  .nopad {
    padding: 0px;
  }
  h1.maintitle {
    font-size: 32px;
    line-height: inherit;
    margin: 50px 0px;
}
.responsiveslick2 video{
  min-height: inherit;
}
.responsiveslick2{
  margin:15px 0px 30px
}
.itemdiv{
  padding:10px
}
}

@font-face{
  font-family:Whyte Book;src:url(../fonts/4523966.woff2) 
  format("woff2");
  font-style:normal;
  font-stretch:normal;
  font-display:swap}
  
  @font-face{
      font-family:Whyte Thin;src:url(../fonts/82c30f5.woff2) format("woff2");
      font-style:normal;
      font-stretch:normal;
      font-display:swap
      }
      @font-face{
          font-family:Whyte Medium;src:url(../fonts/f68ea8a.woff2) format("woff2");
          font-style:normal;
          font-stretch:normal;
          font-display:swap
          }
          @font-face{
              font-family:Whyte Inktrap Book;src:url(../fonts/2a33d70.woff2) format("woff2");
              font-style:normal;font-stretch:normal;font-display:swap
              }
              @font-face{
                  font-family:Whyte Inktrap Medium;src:url(../fonts/36262b2.woff2) format("woff2");
                  font-style:normal;font-stretch:normal;font-display:swap
                  }
                  @font-face{
                      font-family:Whyte Inktrap Bold;src:url(../fonts/72acf0e.woff2) format("woff2");
                      font-style:normal;font-stretch:normal;font-display:swap
                      }


                      body{
                        font-family: Whyte Book;
                      }